.offer_form {
    padding-top: 48px;
    padding-bottom: 42px;
    background-image: url("../images/offer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.offer_form_title {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 34px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

.form {
    width: 100%;
    background-color: #0000008e;
    min-height: 131px;
    display: flex;
    align-items: center;
    padding: 44px 30px 40px 30px;
    box-sizing: border-box;

    &_input {
        max-width: 152px;
        font-family: Arial;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #e5e5e5;
        background: transparent;
        border: none;
        border-bottom: solid 1px #ffffff6b;
        margin-right: 30px;
        outline: none;
        // color: #fff;
    }
    & .input_error {
        border-bottom: solid 1px #e60707;
    }
    & .select_wrapper {
        position: relative;
        margin-right: 50px;
        box-sizing: border-box;
        & .form_input {
            cursor: pointer;
            margin-right: 0;
        }
    }
    & .select_arrow {
        position: absolute;
        bottom: 8px;
        right: 10px;
    }
    & .select {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        padding: 16px;
        width: 179px;
        height: 124px;
        box-sizing: border-box;
        background-color: #f8f7f7;
        display: none;
    }
    & .select_item {
        font-family: Arial;
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
        color: #000000;
        cursor: pointer;
        &:hover {
           color: #fbd341; 
        }
    }


    & .submit_btn {
        width: 254px;
        height: 48px;
        background-color: #fbd341;
        border-radius: 10px;
        cursor: pointer;
        font-family: Arial;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #000000;
    }

    & .shown {
        display: block;
    }
}


